.footer {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em;
    flex-wrap: wrap;
    color: white;
    width: auto;
    background: rgb(40, 134, 179);
    background: linear-gradient(0deg, rgba(40, 134, 179, 1) 0%, rgba(33, 129, 173, 1) 0%, rgba(25, 97, 130, 1) 6%, rgba(18, 70, 94, 1) 14%, rgba(12, 48, 65, 1) 25%, rgba(0, 0, 0, 1) 100%);
}

@media (max-width: 768px) {
    .footer{
        justify-content: center;
    }
}