<div class="container">
    <div class="container__first-container">
        <div class="container__first-container--backgroundImage">
            <img [src]="animeById.coverImage" alt="">

        </div>
    </div>
    <div class="container__second-container">
        <div class="container__second-container--row">
            <div class="second-container__row--name">
                <h1>{{animeById.title}}</h1>
            </div>
        </div>
        <div class="container__second-container--columns">
            <div class="second-container__columns--cartelAnime">
                <div class="columns__cartelAnime--image">
                    <img [src]="animeById.image" alt="">
                </div>
                <div class="columns__cartelAnime--genres">
                    <a [routerLink]="['/genre', animeById]"
                        *ngFor="let genres of GenresbyAnime">{{genres.genre.genreName}}</a>
                    <!--
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512">
                            <path
                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                        </svg>
                    </a>-->
                </div>
            </div>
            <div class="second-container__columns--descriptionAnime">
                <div *ngFor="let season of animeById.seasons" class="columns__descriptionAnime--episodes">
                    <h4>Temporadas</h4>
                    <p>{{season.number}}</p>
                </div>
                <div class="columns__descriptionAnime--episodes">
                    <h4>Ranking</h4>
                    <p>5</p>
                </div>
            </div>
            <div class="second-container__columns--trailer">
                <div class="columns__trailer--video">
                    <iframe [src]="trustedUrl" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="container__third-container">
        <div class="container__thrid-container--nav">
            <ul>
                <li>
                    <a href="">Descripción</a>
                </li>
                <li>
                    <a href="">Temporadas</a>
                </li>
                <li>
                    <a href="">Noticias</a>
                </li>
                <li>
                    <a href="">Comentarios</a>
                </li>
            </ul>
        </div>
        <div class="container__thrid-container--description">
            <p>{{animeById.description}}</p>
        </div>
        <div class="container__thrid-container--actors">
            <h3>Actores de Voz</h3>
            <swiper-container class="cards" slides-per-view="5" space-between="20" navigation="true">
                <swiper-slide class="cards__card">
                    <div class="cards__card--first-container">
                        <div class="card__image">
                            <a [routerLink]="['/animes', animeById.id]">
                                <img [src]="animeById.image" alt="">
                            </a>
                        </div>
                        <div class="card__names">
                            <div class="card__names-name">
                                <p>{{animeById.title}}</p>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
    <div class="container__fourth-container">
        <div class="fourth-container__season">
            <h1>Temporada 1</h1>
            <div class="fourth-container__season--episode">
                <h2>Episodio 1</h2>
                <h2>Episodio 2</h2>
                <h2>Episodio 4</h2>
            </div>
        </div>
    </div>
</div>