h1 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    color: white;
}

h4 {
    font-size: 1.25rem;
    color: white;
}

p {
    font-size: 1rem;
    color: white;
}

.container {
    width: auto;
    margin: 2.5em 5em 2.5em 5em ;
    position: relative;
    top: 0;
    left: 0;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}


@media (max-width: 767px) {
    .container {
        margin: 1em;
        .container__recomendation {
            margin: 1.5em;
        }
    }
}

.container__genre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 1em;
    padding: 1em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    .cards__card {
        cursor: pointer;
        width: 10em;
        height: 20em;
        .cards__card--first-container {
            transition: all 0.4s;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            width: 100%;
            height: 100%;

            .card__icons-status {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                gap: 0.5em;
                top: -1em;
                right: -1em;
                z-index: 996;
                fill: azure;

                svg {
                    height: 1.75em;
                }
            }

            .card__image {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card__names {
                display: flex;
                width: 100%;
                height: 5em;
                justify-content: flex-start;
                align-items: flex-start;

                .card__names-name {
                    line-height: 1.75rem;
                    font-weight: bold;
                }

            }

        }

        .cards__card--second-container {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            transition: all 0.4s;
            padding: 1em 0.25em 1em 0.25em;
            border-radius: 15px;
            width: 100%;
            height: 100%;

            .second-container__description {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                gap: 0.25em;
                flex: 1;

                p {
                    font-size: 1rem;
                }

                svg {
                    fill: white;
                }

                span {
                    font-size: 0.75rem;
                }

            }

            .second-container__notice {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2em;

                svg {
                    fill: white;
                }
            }

        }
    }
}