@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Inconsolata:wght@300;500;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Inconsolata', monospace;
}